<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>

    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mediaservice?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">toor</property>
        <property name="hibernate.connection.pool_size">10</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <mapping class="data.beans.MusicEntity"/>
        <mapping class="data.beans.MovieEntity"/>
        <mapping class="data.beans.TVShowEntity"/>
    </session-factory>

</hibernate-configuration>